DATABASE_URL="prisma+postgres://localhost:51213/?api_key=eyJkYXRhYmFzZVVybCI6InBvc3RncmVzOi8vcG9zdGdyZXM6cG9zdGdyZXNAbG9jYWxob3N0OjUxMjE0L3RlbXBsYXRlMT9zc2xtb2RlPWRpc2FibGUmY29ubmVjdGlvbl9saW1pdD0xJmNvbm5lY3RfdGltZW91dD0wJm1heF9pZGxlX2Nvbm5lY3Rpb25fbGlmZXRpbWU9MCZwb29sX3RpbWVvdXQ9MCZzaW5nbGVfdXNlX2Nvbm5lY3Rpb25zPXRydWUmc29ja2V0X3RpbWVvdXQ9MCIsIm5hbWUiOiJkZWZhdWx0Iiwic2hhZG93RGF0YWJhc2VVcmwiOiJwb3N0Z3JlczovL3Bvc3RncmVzOnBvc3RncmVzQGxvY2FsaG9zdDo1MTIxNS90ZW1wbGF0ZTE_c3NsbW9kZT1kaXNhYmxlJmNvbm5lY3Rpb25fbGltaXQ9MSZjb25uZWN0X3RpbWVvdXQ9MCZtYXhfaWRsZV9jb25uZWN0aW9uX2xpZmV0aW1lPTAmcG9vbF90aW1lb3V0PTAmc2luZ2xlX3VzZV9jb25uZWN0aW9ucz10cnVlJnNvY2tldF90aW1lb3V0PTAifQ" # this is changed from development and production

PREVIEW_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza196TktGZjlDUDdpZUxwRDNMa09CU3oiLCJhcGlfa2V5IjoiMDFLNUIyRVFaUVgzRTlFWk01U1RTRzdLSjEiLCJ0ZW5hbnRfaWQiOiI5M2RhZGNmYmMyMTYyOTFkNzlhNGFmNmMyOWEwZDZjODgxMjI5NTEyOGNkYWY1NzlmOGMwYzc0ZGUzM2MwZjM2IiwiaW50ZXJuYWxfc2VjcmV0IjoiMWVkNjhiMWYtZmJkMi00ZWNkLWE1ZDMtZTA0ZmIyZTdjYTRjIn0.xd2FTOMLiApSfy2pmIMktHa9YBXY3w6RXVaYPQajoig" # this stay same at development and production

PRISMA_USE_ACCELERATE=false # in production set it to true

# prisma studio
PRISAMA_STUDIO_URL=http://localhost:5555

# Auth.js Configuration
AUTH_SECRET=EhWUf2pHNDJ3icR25TyjHMpV/Irdvrbhr3TGBQkLN1o=
NEXTAUTH_URL=http://localhost:3000                # Required: The canonical URL of your site
NEXTAUTH_TRUST_HOST=true                         # Required for localhost/development
AUTH_TRUST_HOST=http://localhost:3000            # Deprecated but included for backwards compatibility

# Development Environment
NEXT_PUBLIC_NODE_ENV=development                 # Environment indicator for client-side code

IS_PREVIEW=false # run special preview build locally and from vercel
